@charset "UTF-8";

/*
    Types Device Breakpoints
    ------------------------
    Pequenas telas: até 600px
    celular: de 600px até 768px
    Tablet: 768px até 992px
    Descktop: 992px até 1200pxpx
    Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px){
    header{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 950px;
    }
    .video{
        width: 100%;
        height: 400px;
    }
    .carousel {
        width: 700px;
        overflow: hidden;
        margin: auto;
    }
    .slide {
        float: left;
        width: 100%;
        display: none;
    }
    .slide img {
        width: 100%;
    }

    .perfil{
        width: 70%;
        border-radius: 100%;
    }
}



@media screen and (min-width: 992px) {
    span#burguer{
        display: none;

    }
    .menu_option{
        display: block;
        background-color: transparent;
        padding: 0;
    }
    .menu_option > .redes_sociais_menu{
        display: none;
    }

    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.5em;
    }
    p{
        font-size: large1em;
    }


    /* CONFIGURAÇÕES MENU */
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
    }
    div > ol, li, a{
        display: flex;
        gap: 70px;
        list-style: none;
        color: #fff;
        font-size: 1em;
    }
    .block_menu:hover{
        color: #F0783C;
        text-decoration: underline;
        text-underline-offset: 10px;
        transition: .7s;
    }


    /* CONFIGURAÇÕES HEADER */
    header{
        max-width: 100%;
        height: 850px;
        background-image: url(../imagens/capa-pba.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 300px;
        margin-left: 215px;
    }
    .info > h1{
        color: #fff;
        margin-bottom: 25px;
    }
    .button > button{
        padding: 10px;
        margin-right: 15px;
        border-radius: 25px;
        color: #fff;
        font-size: 1em;
        font-weight: 500;
    }
    .botao_1{
        background-color: var(--color5);
        border: 2px solid var(--color5);
    }
    .botao_1:hover{
        background-color: transparent;
        border: 2px solid var(--color5);
        transition: .5s;
    }
    .botao_2{
        background-color: transparent;
        border: 2px solid var(--color5);
        transition: .5s;
    }
    .botao_2:hover{
        background-color: var(--color5);
        border: 2px solid var(--color5)
    }


    /* CONFIGURAÇÕES PAGINA INICIAL */
    #Pag_inicial{
        display: flex;
        align-items: center;
        gap: 25px;
        
        width: 1200px;
        margin: 35px 10%;
    }

    
    /* CONFIGURAÇÕES SOBRE */
    #sobre_nos{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 65px;
    }
    #sobre_nos > p{
        width: 550px;
    }
    .video{
        width: 600px;
        height: 400px;
    }


    /* CONFIGURAÇÕES AULAS */
    #aulas{
        padding: 65px;
        width: 900px;
        margin: auto;
    }

    #aulas > h2{
        color: var(--color3);
    }
    #aulas > .text_aulas{
        line-height: 1.5em;
        margin-bottom: 11px;
        text-align: center;
    }
    #aulas > .horario_aulas{
        font-size: 1.2em;
        text-align: center;
        line-height: 1.5em;
        padding: 25px;
        margin-bottom: 50px;
    }

    .carousel {
        width: 780px;
        overflow: hidden;
        margin: auto;
    }
    .slide {
        float: left;
        width: 100%;
        display: none;
    }

    .slide img {
        width: 100%;
    }


    /* CONFIGURAÇÕES AULAS */
    #membro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #membro > div{
        padding: 15px;
        width: 800px;
        border-radius: 0;
    }
    .perfil{
        width: 20%;
        padding: 15px;
        border-radius: 100%;
        border: 3px solid var(--color3);
    }
    #membro > div p{
        text-align: center;
    }


    /* CONFIGURAÇÕES DUVIDAS */
    #duvidas{
        width: 900px;
    }

    #duvidas > h2{
        color: var(--color3);
    }

    #duvidas > details{
        padding: 15px;
        font-size: 1.3em;
    }

    #duvidas > details summary {
        cursor: pointer;
    }
    
    #duvidas > details summary:hover::after {
        content: " ▼"; /* Adiciona uma seta para baixo quando o mouse está sobre o summary */
    }
    
    #duvidas > details summary::-webkit-details-marker {
        display: none; /* Oculta o marcador padrão do detalhe */
    }
    
    #duvidas > details:not([open]) > *:not(summary) {
        display: none; /* Garante que os detalhes permaneçam fechados quando não estiverem abertos */
    }

    /* CONFIGURAÇÕES CONTATO */
    #contato{
        background-color: var(--color4);
        padding: 50px
    }

    #contato > .icones_redes_sociais > a{
        width: 50px;
        height: 50px;
    }
    .icones_redes_sociais{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #contato > h2{
        color: #fff;
        margin: 15px;
    }
    #contato > p{
        text-align: center;
        margin-top: 25px;
        padding: 25px;
        
        
    /* CONFIGURAÇÕES FORMULÁRIO */
    }
    .formulario_inscricao{
        display: block;
    }
    #inscricoes{
        width: 650px;
        padding: 25px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .block_form{
        display: flex;
        flex-direction: column;
    }



    /*  CONFIGURAÇÕES FOOTER */
    footer{
        background-color: var(--color5);
        display: flex;
        justify-content: center;
        gap: 110px;
        padding: 50px;
    }

    .logo_footer{
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }

    .logs{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    footer > div > img{
        border: 3px solid var(--color4);
        padding: 5px;
    } 

    footer > div h5{
        font-size: 1.5em;
        padding: 5px 0px;
    }

    footer > div a{
        font-size: 1em;
        font-weight: 600;
        color: var(--color3);
        padding: 8px;
    }

    footer > div a:hover{
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 10px;
        transition: .7s;
    }

    #copy_rigth{
        background-color: #ff5a08;
        color: #fff;
        font-size: 1.5em;
        text-align: center;
        padding: 8px;
    }
}